<div class="container-options">
    <h3 class="title">Crear usuario nuevo</h3>

    <app-input-field></app-input-field>

    <app-form-input 
        type="text" 
        labelText="Nombre completo"
        name="nameComplete">
    </app-form-input>

    <app-form-input 
        type="text" 
        labelText="Correo electronico"
        name="email">
    </app-form-input>

    <app-form-input 
        type="select" 
        labelText="Tipo de usuario"
        name="typeUser"
        [data]="dataUserType">
    </app-form-input>

    <app-form-input 
        type="select" 
        labelText="Empresa"
        name="business"
        [data]="dataBusiness">
    </app-form-input>
</div>

<div class="container-buttoms">
    <div class="container-buttoms-options-1">
        <app-button type="outline" text="Cancelar" [fullWidth]="true"></app-button>
    </div>
    <div class="container-buttoms-options-2">
        <app-button type="primary" text="Crear" [fullWidth]="true"></app-button>
    </div>
</div>