<div class="container-recover">
    <div class="container-recover-image">
        <img src={{image}} alt="imagen de recuperacion">
    </div>
    <h2 class="change-password">Cambiar Contraseña</h2>
    <form action="" class="container-recover-password" method="post">
        <app-text-input *ngIf="mode" labelText="Contraseña actual"></app-text-input>
        <app-text-input class="container-recover-password-input" labelText="Contraseña nueva"></app-text-input>
        <app-text-input class="container-recover-password-input" labelText="Confirmar tu nueva contraseña">
        </app-text-input>
        <div class="container-recover-password-options">
            <div class="container-recover-password-options-1">
                <app-button type="primary" text="Cancelar" [fullWidth]="true"></app-button>
            </div>
            <div class="container-recover-password-options-2">
                <app-button type="outline" text="Enviar" [fullWidth]="true"></app-button>
            </div>
        </div>
    </form>

</div>