#h1-prepared{
    font-weight: 900;
    font-size: 57px;
    color: #7A54FF;
    text-align: center;
    margin-bottom: 0px;
}

#h3-choose{
    font-weight: 700;
    font-size: 36px;
    color: #A991FF;
    margin-top: 0px;
    text-align: center;
}

.container-plan{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
    .plan{
        width: 300px;
        margin: 0px 5px;
        border: 5px solid #023C55;
        border-radius: 30px;
        padding: 5px;
        color: #27213C;
        transition: all 0.2s;
        background: #FBF8F8;
        .plan-header{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: stretch;
            .name-plan{
                margin: 5px 0px 0px;
                font-weight: 700;
                font-size: 36px;
            }
            .eslogan{
                margin: 0px;
                font-weight: 400;
                font-size: 20px;
            }
        }

        .plan-type{
            font-weight: 900;
            font-size: 57px;
            text-align: center;
            margin-bottom: 0px;
        }

        .plan-buttom{
            border: 4px solid #100240;
            border-radius: 30px;   
            width: 295px;
            height: 65px;
            transition: all 0.2s;
            background: #FBF8F8;
            font-weight: 400;
            font-size: 32px;
            color: #100240;
            cursor: pointer;
        }
        .include{
            font-weight: 400;
            font-size: 32px;
            margin-bottom: 0px;
        }
        .include-plan{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            font-weight: 700;
            font-size: 20px;
            .icon-include-plan{
                width: 44px;
            }
            .content-include-plan{
                width: 251px;
            }
        }
    }

    .plan:hover{
        background: #7A54FF;
        border-radius: 30px;
        color:white;
        .plan-buttom{
            border: 4px solid #FBF8F8;
            border-radius: 30px;   
            width: 295px;
            height: 65px;
            background: #7A54FF;
            color: #FBF8F8;
        }
        .plan-buttom:hover{
            border: 4px solid #100240;
            border-radius: 30px;   
            width: 295px;
            height: 65px;
            background: #7A54FF;
            color: #100240;
        }
    }

    
}

