<nav-user-no-register></nav-user-no-register>
<h1 id="h1-prepared">¿Preparado para  comenzar?</h1>
<h3 id="h3-choose">Elige un plan que se adapte a tus necesidades</h3>
<div class="container-plan">
    <div class="plan">
        <div class="plan-header" >
            <div>
                icono
            </div>
            <div>
                <h2 class="name-plan">Lite</h2>
                <p class="eslogan">Perfecto para comenzar</p>
            </div>
        </div>
        <h1 class="plan-type">Gratis</h1>
        <button class="plan-buttom">Obtener</button>
        <h3 class="include">Incluye:</h3>
        <div style="margin-bottom: 15px;">
            <div class="include-plan">
                <div class="icon-include-plan">
                    icon
                </div>
                <div class="content-include-plan">
                    Crea hasta 5 Usuarios
                </div>
            </div>
            
            <div class="include-plan">
                <div class="icon-include-plan">
                    icon
                </div>
                <div class="content-include-plan">
                    Ten 500 Mb de uso
                </div>
            </div>
        </div>
    </div>
    <div class="plan">
        hola
    </div>
    <div class="plan">
        hola
    </div>
</div>
