<nav-user-no-register></nav-user-no-register>

<h1 id="h1-prepared">¿Preparado para  comenzar?</h1>
<h3 id="h3-choose">Elige un plan que se adapte a tus necesidades</h3>
<div class="container-plan">
    <div class="plan">
        <div class="plan-header" >
            <div>
                <span style="font-size:50px;" class="material-icons">eco</span>
            </div>
            <div>
                <h2 class="plan-name">Lite</h2>
                <p class="slogan">Perfecto para comenzar</p>
            </div>
        </div>
        <h1 class="plan-type">Gratis</h1>
        <button class="plan-buttom">Obtener</button>
        <h3 class="include">Incluye:</h3>
        <div class="plan-include-container">
            <div class="plan-include">
                <div class="plan-include-icon">
                    <span class="material-icons">group</span>
                </div>
                <div class="plan-include-content">
                    Crea hasta 5 Usuarios
                </div>
            </div>
            
            <div class="plan-include">
                <div class="plan-include-icon">
                    <span class="material-icons">archive</span>
                </div>
                <div class="plan-include-content">
                    Ten 500 Mb de uso
                </div>
            </div>
        </div>
    </div>
    <div class="plan">
        hola
    </div>
    <div class="plan">
        hola
    </div>
</div>
