<div class="form-input-wrapper">
  <label for="{{ inputId }}">{{ labelText }}</label>
  <app-text-input
    *ngIf="type === 'text'"
    inputId="{{ inputId }}"
    name="{{ name }}"
    (inputData)="receiveInputData($event)"
  ></app-text-input>
  <app-switch-input *ngIf="type === 'switch'"></app-switch-input>
  <button
    type="button"
    *ngIf="bottomAction"
    class="btn input-bottom-action"
    (click)="bottomAction.action()"
  >
    {{ bottomAction.text }}
  </button>
  <app-select-input
    *ngIf="type === 'select'"
    inputId="{{ inputId }}"
    name="{{ name }}"
    [data]="data"
    (itemSelect)="dataEmitter($event)"
  ></app-select-input>
</div>
