<header>
    <div id="area-buttom">
        <button class="button-header">Registrate Ahora</button>
        <button class="button-header">Iniciar Sesión</button>
    </div>
</header>

<div class="div-banner-landing">
    <h1>Hagamos de esta comunidad MÁS grande</h1>
    <h3>Registrate con nosotros y explora nuestra plataforma</h3>
</div>

<div class="main" id="main">
    <div class="row">
        <div class="col-6">
            <h1>Cualquier persona puede poner en marcha un negocio en cualquier lugar. ¡Atrevete a intentarlo!</h1>    
            <button>Afiliate Ahora</button>
        </div>
        <div class="col-6">
            <img src="../../../assets/images/presentacion_landing.png" alt="presentacion">
        </div>
    </div>
</div>

<div class="presentComerce">
    <h1>¿Necesitas comprar algun producto?</h1>
    <h3>Unete a nuestra plataforma y explora hasta encontrar lo que necesites</h3>
    <h3>Registrate ahora y podras comprar desde la comodidad de tu hogar</h3>
    <h2>¿QUE ESPERAS?</h2>
    <div>
        <button class="btn-is">Inicia tu Sesion</button>
        <button class="btn-r">Registrate Ahora</button>
    </div>
    

</div>

